*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   background-color: gray; 
}


aside {
    width: 50%;
    height: 600px;
    background-color: white;
    margin: auto;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 1px 6px 0px rgb(88, 86, 86);
}

h1 {
    line-height: 2;
    margin-bottom: 5rem;
    font-size: 21px;
    font-weight: 500;
}

aside > div > #Successful {
    background-color: green;
    font-size: 23px;
    color: white;
    padding: .5rem;
    border-radius: 5px;
    display: none;
}

aside > div > .cancel {
    display: flex;
    background-color: rgba(255, 0, 0, 0.075);
    font-size: 15px;
    color: red;
    padding: .5rem;
    border-radius: 5px;
    line-height: 1.5;
    margin-bottom: 10px;
    display: none;
    justify-content: space-between;
}

aside > div > .cancel > .fa-exclamation-circle {
    margin-right: 1rem;
    cursor: pointer;
} 

aside > div > .cancel > .fa-x {
    margin-left: 1rem;
    cursor: pointer;
}


.inputs {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin: 0 0 .3rem 0;
}

input {
    padding: .7rem;
    border-radius: 5px;
    border: .4px solid black;
    margin: 0 0 1.5rem 0;

}

button {
    background-color: blue;
    color: white;
    padding: .7rem;
    border: 0;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 2rem;
    cursor: pointer;
}
